* {
  margin: 0;
  padding: 0;
}

#container {
  display: grid;
  grid-template-columns: 0.5fr 2fr;
  grid-template-rows: 0.5fr 2fr;
}

#sidebar-container {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  height: 99vh;
  background-color: #0f94d2;
}

#header-container {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  background-color: #ffffff;
}

#main-container {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-color: rgb(236, 234, 234);
}
